.ristsõna {
    padding: 20px;
    margin-top: 40px;
    font-family: 'Yuji Syuku', serif;
    color: #573E3E;
}

table {
    text-align: center;
    padding: 10px;
    border: 1px solid #EFE8dF;
    margin-bottom: 20px;
}

td {
    width: 30px;
    height: 30px;
}

.dark {
    background: #EFE8dF;
}

.inpt {
    width: 30px;
    height: 30px;
    font-size: 24px;
    text-align: center;
    border: 2px solid #EFE8dF;
    font-family: 'Yuji Syuku', serif;
    background-color: #C9DFB0;
}

.grupp {
    display: flex;
    flex-direction: row;
    gap: 100px;
}

.kollaaž {
    font-family: 'Yuji Syuku', serif;
    color: #573E3E;
    font-weight: bold;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    margin-top: 40px;
    gap: 10px;
}

.kollaaž img {
    border: 5px solid #C9DFB0; 
    border-radius: 10px;        
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3); 
    width: 100%;
    height: auto
}

.pilt1 {
    grid-column-start: 1;
    grid-column-end: 3;
}

.headerlink {
    color: inherit;        
    text-decoration: none; 
}

.headerlink:visited {
    color: inherit;           
}

.headerlink:hover {
    color: inherit;           
    text-decoration: none;    
}

.headerlink:active {
    color: inherit;
}

.info {
    border: 2px solid #C9DFB0;
    background-color: #C9DFB0;
    display: flex;
    flex-direction: column;
    padding: 8px;
    width: 30%;
    margin-top: 40px;
    margin-left: 40px;
    font-family: 'Yuji Syuku', serif;
    color: #573E3E;
    font-weight: bold;
}
