.header {
    background-color: #C9DFB0;
    font-family: 'Yuji Syuku';
    text-align: center;
    font-size: 25px;
    color: #573E3E;
}

.info {
    border: 2px solid #BEFFB6;
    background-color: #BEFFB6;
    display: flex;
    flex-direction: column;
    padding: 8px;
    width: 30%;
}