.header {
    background-color: #C9DFB0;
    font-family: 'Yuji Syuku', serif;
    color: #573E3E;
    text-align: center;
    font-size: 25px;
    padding: 5px;    
}

.pildid {
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 5px;
    gap: 10px;
}

.nav {
    display: flex;
    flex-direction: row;
    gap: 300px;
}

.tutvustus {
    display: flex;
    flex-direction: column;
    font-family: 'Yuji Syuku', serif;
    color: #573E3E;
    gap: 5px;
    font-size: 20px;
    font-weight: bold;
}

.kiri {
    border: 2px, #EFE8dF;
    padding: 10px;
}

.sisu {
    border: 2px, #C9DFB0;
    background-color: #C9DFB0;
    width: 400px;
    height: 300px;
    padding: 10px;
    
}

.kaunistus {
    color: #DC9797;
    font-family: 'Yuji Syuku', serif;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    
}


.info {
    border: 2px solid #BEFFB6;
    background-color: #BEFFB6;
    display: flex;
    flex-direction: column;
    padding: 8px;
    width: 30%;
}

.info_kass {
    border: 2px solid #ae8c8c;
    background-color: #efdfdf;
    display: flex;
    flex-direction: column;
    padding: 8px;
    width: 30%;
}

h3 {
    color: #875858;
    background-color: #f8ece1;
    font-size: 50px;
    font-family: 'Gambetta';
    text-align: left;
}

h3 {
    font-size: 36px;
    display: inline;
}



.pilt-konteiner {
    display: flex;
    justify-content: center;
}

.kass {
    background-color: #b7cfb2;
}