.header {
    background-color: #BEFFB6;
}

.info {
    border: 2px solid #BEFFB6;
    background-color: #BEFFB6;
    display: flex;
    flex-direction: column;
    padding: 8px;
    width: 30%;
}

.info_kass {
    border: 2px solid #ae8c8c;
    background-color: #efdfdf;
    display: flex;
    flex-direction: column;
    padding: 8px;
    width: 30%;
}

h1, h3 {
    color: #875858;
    background-color: #f8ece1;
    font-size: 50px;
    font-family: 'Gambetta';
    text-align: left;
}

h3 {
    font-size: 36px;
    display: inline;
}



.pilt-konteiner {
    display: flex;
    justify-content: center;
}

.kass {
    background-color: #BEFFB6;
}
