body {
    margin: 0;
    background-color: #EFE8dF;
}

.header {
    background-color: #C9DFB0;
    font-family: 'Yuji Syuku', serif;
    color: #573E3E;
    text-align: center;
    font-size: 25px;
    padding: 5px;
}

.pildid {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-top: 40px;
    gap: 35px;
}

.pildid img {
    border: 5px solid #C9DFB0; 
    border-radius: 10px;        
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
    width: 100%;
    height: auto
}

.nav {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 250px;
    padding: 25px;
}

.tutvustus {
    display: flex;
    flex-direction: column;
    font-family: 'Yuji Syuku', serif;
    color: #573E3E;
    gap: 5px;
    font-size: 20px;
    font-weight: bold;
}

.kiri {
    border: 2px #EFE8dF;
    padding: 10px;
}

.sisu {
    border: 2px #C9DFB0;
    background-color: #C9DFB0;
    width: 400px;
    height: 300px;
    padding: 10px;
    line-height: 1.45;
    text-align: justify;
}

.kaunistus {
    color: #DC9797;
    border: 2px #EFE8dF;
    font-family: 'Yuji Syuku', serif;
    font-weight: bold;
    font-size: 400%;
    text-align: center;
}
